*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.container{
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.block1{
    width: 600px;
    border: 1px solid black;
    padding: 30px;
    background-color: rgb(34, 110, 216);
}

.block2{
    width: 0px;
    transition-timing-function: linear;
    transition: 2s;
}

.block2 .right{
    border-left: 5px solid orange;
    width: 600px;
    border-right: 1px solid black;
    border-bottom: 1px solid #000;
    padding: 30px;
    



}



.block2:hover{
    cursor: pointer;
  
    width: 600px;        
    background: #FFA01B ;
}
    
    
.block3{
    width: 0px;
    transition-timing-function: linear;
    transition: 0.7s;
}

.block3 .right{
    border-left: 5px solid green;
    width: 600px;
    border-right: 1px solid black;
    border-bottom: 1px solid #000;
    padding: 30px;
    



}



.block3:hover{
    cursor: pointer;
  
        width: 600px;        
        background: green ;
}
          
          


.block4{
    width: 0px;
    transition-timing-function: linear;
    transition: 2s;
}

.block4 .right{
    border-left: 5px solid red;
    width: 600px;
    border-right: 1px solid black;
    border-bottom: 1px solid #000;
    padding: 30px;
    



}



.block4:hover{
    cursor: pointer;
 
    width: 600px;        
    background: red ;
}

      

.block5{
    width: 0px;
    transition-timing-function: linear;
    transition: 2s;
}

.block5 .right{
    border-left: 5px solid rgb(195, 39, 164);
    width: 600px;
    border-right: 1px solid black;
    border-bottom: 1px solid #000;
    padding: 30px;
    



}



.block5:hover{
    cursor: pointer;
    width: 600px;        
    background: rgb(195, 39, 164) ;
}

.right{
    display: flex;
}
.block1 .right img,  .block2  .right img, .block3 .right img, .block4 .right img, .block5  .right img{
    width: 20px;
    height: 20px;
    margin-right: 30px;
}

